# Jabber configuration file

# The configuration specifies the following keys:
# * jabber_id  - Identidy (username) of the user
# * password   - Password used to authenticate
# * resource   - Multiple connections can be made with the same credentials and different resources
# * masters    - Array of Jabber ID's whose messages will be processed
# * supporters - Additional 'buddies' to keep on roster, but messages won't be processed
# * enable_logging - Enable Blather logging (VERY VERBOSE)
# * require_master - Disable filtering of messages based on the sender being a 'master'

defaults: &defaults
  jabber_id: pothix@pothix.com
  password: My4w3S0m3P4s5w0Rd
  resource: bot
  enable_logging: false
  masters:
    - ""
  supporters:
    - ""

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
